{% extends 'base.html' %}
{% load static %}
{% block content %}
<img style="float: left;" alt=""src="{% static 'images/coppel.png' %}" >
<br>
<br> 
<br>medios en tienda
<br> 
<h1>Lorem Ipsum</h1>
<p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
<!--<a href="{% url 'app:login' %}">Log In</a>
    ALGUN DIA AQUI IRA EL LOG-OUT-->

<p style="float: right;">Powered by  <img style="float: right;" alt=""src="{% static 'images/cenic.png' %}"> </p>
{% endblock %}
