{% extends 'base.html' %}
{% block content %}

<form method="post" name="{{campania_id}}"   action="{% url 'app:update' %}">
    {% csrf_token %}
<table style="width:100%; border: 1px solid #5b87fa"  style="width:100%" >
<thead class="excel_header">
    <tr>
      <th > Campaña </th>
      <th > Objetivo macro </th>
      <th > Segmento </th>
      <th > Canal  </th>
      <th > Sub canal </th>
      <th > Inicio  </th>
      <th > Fin </th>
      <th > Gasto </th>
    </tr>
</thead>
<tbody> 
    <!-- check esta referencia super cool https://stackoverflow.com/questions/8018973/how-to-iterate-through-dictionary-in-a-dictionary-in-django-template-->
{%for registro in esfuerzos %}

<tr> <input type="hidden" name="id" value="{{registro.id}}" >
       <td class="excel_row"> {{campania}} </td> 
       <td class="excel_row"> {{registro.objetivo_macro}}   </td> 
       <td  class="excel_row">   {{ registro.segmento}} </td>
       <td  class="excel_row"> {{registro.canal}}</td>
       <td  class="excel_row"> {{registro.subcanal }}   </td>  
    <td  class="excel_cuadro" > <input type="date"  name="inicio" value={{registro.inicio|date:"Y-m-d"}}>  
         </td>

    <td class="excel_cuadro">  <input type="date"  name="fin" value="{{registro.fin|date:"Y-m-d"}}"> 
    <td class="excel_cuadro"> <input type="number" step="any"  name="gasto" value={{registro.gasto}}> </td>
  </tr>
{% endfor %}

</tbody>  
</table>  
<!--<input type="submit" value="Preparar de datos">'-->
<input type="submit" value="Guardar datos">'
</form>
{% endblock %}
